.root {
    padding: 60px;
    color: white;
    background-color: #0e0e52;

    @media screen and (max-width: 767px) {
        padding: 40px;
    }

    .content > *:not(:last-child) {
        margin-bottom: 25px;
    }

    .content {
        @media screen and (max-width: 767px) {
            margin-bottom: 25px;
            text-align: center;
        }
    }

    .head-text {
        font-size: calc(18px + 12 * (100vw / 1260));
        font-weight: bold;

        @media screen and (max-width: 767px) {
            font-size: calc(20px + (20 + 20 * 0.7) * ((100vw - 320px) / 1260));
        }
    }

    .body-text {
        font-size: calc(14px + 6 * (100vw / 1260));
        max-width: 500px;
        line-height: 150%;
        color: #b3b3b3;

        @media screen and (max-width: 767px) {
            font-size: calc(14px + (6 + 6 * 0.7) * ((100vw - 320px) / 1260));
            max-width: 300px;
            margin: 0 auto;
        }
    }

    .btn {
        font-size: 16px;
    }
    button.btn-text {
        font-size: 16px !important;

        @media screen and (max-width: 767px) {
            font-size: calc(14px + (6 + 6 * 0.7) * ((100vw - 320px) / 1260));
        }
    }

    .img-back {
        background: #d9d9d9;
        box-shadow: 0px 4px 19px 6px rgba(255, 255, 255, 0.25);
    }
}

.about {
    padding: 45px 60px;
    color: #ffffff;
    @media screen and (max-width: 767px) {
        padding: 25px 30px;
    }
    .head-text {
        font-size: calc(18px + 12 * (100vw / 1260));
        font-weight: bold;

        @media screen and (max-width: 767px) {
            font-size: calc(20px + (20 + 20 * 0.7) * ((100vw - 320px) / 1260));
            text-align: center;
            margin-bottom: 25px;
        }
        font-weight: bold;
        margin-bottom: 45px;
    }

    .about-text {
        font-size: calc(14px + 6 * (100vw / 1260));
        font-weight: 400;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        line-height: 150%;
        margin-bottom: 55px;

        @media screen and (max-width: 767px) {
            font-size: calc(14px + (6 + 6 * 0.7) * ((100vw - 320px) / 1260));
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }

    .cards > * {
        @media screen and (max-width: 990px) {
            margin-bottom: 15px;
        }
    }

    .speed-card,
    .info-card,
    .faq-card {
        background: #186fa1;
        padding: 25px 50px;
        border-radius: 15px;

        @media screen and (max-width: 767px) {
            padding: 15px 25px;
        }
    }

    .icon-wrapper {
        text-align: center;
        margin-bottom: 15px;
    }
    .card-head {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 15px;

        @media screen and (max-width: 767px) {
            font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 320px) / 1260));
        }
    }

    .card-body {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 150%;

        @media screen and (max-width: 767px) {
            font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1260));
        }
    }
}

.contacts {
    padding: 45px 60px;
    color: #ffffff;

    @media screen and (max-width: 767px) {
        padding: 25px 30px;
    }
    .head-text {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 45px;

        @media screen and (max-width: 767px) {
            font-size: calc(20px + (20 + 20 * 0.7) * ((100vw - 320px) / 1260));
            text-align: center;
            margin-bottom: 25px;
        }
    }

    .about-text {
        font-size: 20px;
        font-weight: 400;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        line-height: 150%;
        margin-bottom: 55px;

        @media screen and (max-width: 767px) {
            font-size: calc(14px + (6 + 6 * 0.7) * ((100vw - 320px) / 1260));
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }

    .contact-text {
        font-weight: 700;
        text-transform: uppercase;
    }

    .contact-link {
        margin-left: 30px;
        font-size: 20px;

        @media screen and (max-width: 767px) {
            font-size: calc(14px + (6 + 6 * 0.7) * ((100vw - 320px) / 1260));
            text-align: center;
        }
    }

    .contact-link > *:not(:last-child) {
        margin-bottom: 25px;
    }

    .contact-link > *:not(:first-child) {
        span {
            color: #dedede;
        }
    }
}
